<%- include('partials/head') %>

<%- include('partials/nav') %>



<div class="jumbotron mid">
<h1 class="display-1">VOA</h1>
<h3 class="display-4">Voices Of Anonymous</h3>
<hr class="my-4">
<a type="button" href="/register" class="btn btn-info btn-lg">Signup</a>
<a type="button" href="/login" class="btn btn-dark btn-lg">Signin</a>
</div>

<%- include('partials/foot') %>
